/* 
Dylan Camlis Main CSS
Nov 21 2025

1. coloring page elements
2. footer positioning

color palette:
    Zath gray: rgb(65, 65, 65)
    Zath red: rgb(102, 10, 10)
    blueviolet: rgb(138, 43, 226)
    darker blueviolet: rgb(74, 3, 140)

*/

/* 1. */
header{
    background-color: rgb(65, 65, 65);
}

body {
    font-family:sans-serif;
    background-color: rgb(102, 10, 10);
    color: white;
}



.btn {
    background-color: rgb(74, 3, 140);
}


/* 2. */
footer {
    position: fixed;
    bottom: 0;
    width: 100%;
}